*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
/* start nav bar */
.nav_bar {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 10px 0 10px 10px #eee;
}
.nav_bar ul {
    list-style: none;
}
.nav_bar ul li {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    
}
.nav_bar ul li:hover {
    color: blueviolet;
    text-decoration: underline;
}
.nav_bar #logo-in-header {
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}
.nav_bar #logo-in-header:hover{
    color: blueviolet;
    font-size: 45px;
}
.nav_bar #botton-header {
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav_bar #botton-header:hover {
    background-color: cornflowerblue;
    color: black;
}
/* end nav bar */

/* start mide seaction */
.mide_seaction {
    background-color: aquamarine;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.mide_seaction span {
    height: 4px;
    width: 300px;
    background-color: black;
    position: relative;
    top: 15px;
}
.mide_seaction #par-one {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    bottom: 20px;
}
.mide_seaction #par-tow {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 400;
    

}
.button #button-one ,#button-tow {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    align-content: center;
    border-radius: 6px;
    position: relative;
    top: 40px;
    cursor: pointer;
    
}
.button #button-one:hover {
    background-color: black;
    color: white;
}
.button #button-tow:hover {
    background-color: black;
    color: white;
}
.button #button-tow {
    background-color: mediumspringgreen;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.button #button-one{
    background-color: rgb(85, 85, 190);
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.button {
    display: flex;
    flex-direction: row;
}
/* end mide seaction */
/* start-under-mide-seaction */
.under-mide-seaction {
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: rgb(214, 89, 89) solid 3px;
    
}
.under-mide-seaction #par {
    font-size: 50px;
    box-shadow: 10px 10px 10px 10px #eee;
}
/* end-under-mide-seaction */
/* start-mide-seaction-tow*/
.mide-seaction-tow {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.mide-seaction-tow #im {
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    color: rgb(207, 81, 81);
    position: relative;
    top: 40px;
}
.mide-seaction-tow #line {
    width: 500px;
    height: 3px;
    background-color: black;
    position: relative;
    top: 50px;
}
.mide-seaction-tow .lor {
    height: 100px;
    width: 700px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 70px;

}
.mide-seaction-tow .line {
    height: 3px;
    width: 40px;
    background-color: balck;
}
.contener-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 200px;
}
.contener-div h1 {
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    text-shadow: #eee;
}
.contener-div #seaction-codeing {
    height: 200px;
    width: 300px;
    margin-right: 20px;
}
.contener-div p {
    font-size: 25px;
    font-weight: 600;
}
.contener-div #seaction-wrghting {
    height: 200px;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}
.contener-div #seaction-cooking {
    height: 200px;
    width: 300px;
    margin-left: 10px;
}
/* end-mide-seaction-tow */
/* start top login seaction */
.header-par-seaction {
    width: 100%;
    height: 100px;
    text-align: center;
    position: relative;
    top: 240px;
    border-top: rgb(214, 89, 89) solid 3px;
}
.header-par-seaction .header {
    font-size: 50px;
    box-shadow: 10px 10px 10px 10px #eee;
}
/* end top login seaction */
/* start login seactio*/
.login-seaction {
    display: flex;
    justify-self: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    top: 300px;
}
.login-seaction .box {
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 50%;
}
.login-seaction input{
    height: 30px;
    width: 250px;
    margin-top: 30px;
    border-bottom: black solid 4px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}
.login-seaction #cleck-button {
    border: black solid 2px;
    border-radius: 5px;
    background-color: aliceblue;
    cursor: pointer;
}
input:focus{
    
    outline: none;
}
/* end login seactio */
/* start the footer*/
.footer {
    display:  flex;
    justify-content: content;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 400px;
}
.footer .p-one {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 500;
}
.footer .sp-one {
    height: 2px ;
    width: 350px;
    background-color: black;
    position: relative;
    top: 10px;
}
.footer .p-lorem {
    height: 30px;
    width: 700px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: 30px;
}
.footer .sp-tow {
    height: 2px ;
    width: 500px;
    background-color: black;
    position: relative;
    top: 67px;
}
.footer #s-zero {
    display: flex;
    flex-direction: row;
}
.footer .s-one, .s-tow, .s-three , .s-four {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin: 15px;
    position: relative;
    top: 80px;
    cursor: pointer;
    transition: 0s 0s margin-top linear;
}
.footer .s-one:hover{
    background-color: transparent;
    border: black solid 3px;
    margin-top: 5px;
}
.footer .s-tow:hover{
    background-color: transparent;
    border: black solid 3px;
    margin-top: 5px;
}
.footer .s-three:hover{
    background-color: transparent;
    border: black solid 3px;
    margin-top: 5px;
}
.footer .s-four:hover{
    background-color: transparent;
    border: black solid 3px;
    margin-top: 5px;
}
/* end the footer*/ 
/* start the line*/
.main  .the-line {
    width: 100%;
    height: 3px;
    background-color: black;
    position: relative;
    top: 300px;
}
/* end the line*/
/* start the scolorlbar */
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: #eee;
    box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(61, 51, 148, 0.384);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:  rgb(61, 51, 148);;
}
/* end the scolorlbar */